name: "Deploy RC to Staging"
on:
  pull_request:
    branches:
      - master

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: armory-io/spin-trigger-pipeline-action@master
        with:
          baseUrl: https://spinnaker-api.cloud.armory.io:8443/api/v1
          source: staging-cd
          serviceName: orca
          tag: 2021.03.08.17.21.00.master
          crtFile: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_CERTIFICATE }}
          keyFile: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_PRIVATE_KEY }}
          passphrase: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_CERTIFICATE_PASSWORD }}
        id: trigger
      - uses: armory-io/spin-wait-status-action@master
        with:
          baseUrl: https://spinnaker-api.cloud.armory.io:8443/api/v1
          application: stagingcd
          eventId: ${{ steps.trigger.outputs.eventId }}
          crtFile: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_CERTIFICATE }}
          keyFile: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_PRIVATE_KEY }}
          passphrase: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_CERTIFICATE_PASSWORD }}