name: "Deploy RC to Staging"
on:
  pull_request:
    branches:
      - master

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Determine version
        id: determine_version
        run: |
          read -r name version <<< "${{ github.event.pull_request.body }}"
          diff=$(git diff origin/master HEAD -Gversion stack.yml)
          if [ -z "$diff" ]; then
            echo "##[set-output name=hasDiff;]false"
          else
            echo "##[set-output name=hasDiff;]true"
          fi
          echo "##[set-output name=serviceName;]${name#*=}"
          echo "##[set-output name=tag;]${version#*=}"
      - name: verify version
        run: |
          echo "Has Diff? ${{ steps.determine_version.outputs.hasDiff }}"
          echo "Service to change: ${{ steps.determine_version.outputs.serviceName }}"
          echo "With tag: ${{ steps.determine_version.outputs.tag }}"
      - uses: armory-io/spin-trigger-pipeline-action@master
        id: trigger
        if: steps.determine_version.outputs.hasDiff
        with:
          baseUrl: https://spinnaker-api.cloud.armory.io:8443/api/v1
          source: staging-cd
          serviceName: ${{ steps.determine_version.outputs.serviceName }}
          tag: ${{ steps.determine_version.outputs.tag }}
          crtFile: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_CERTIFICATE }}
          keyFile: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_PRIVATE_KEY }}
          passphrase: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_CERTIFICATE_PASSWORD }}
      - uses: armory-io/spin-wait-status-action@master
        if: steps.determine_version.outputs.hasDiff
        with:
          baseUrl: https://spinnaker-api.cloud.armory.io:8443/api/v1
          application: stagingcd
          eventId: ${{ steps.trigger.outputs.eventId }}
          crtFile: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_CERTIFICATE }}
          keyFile: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_PRIVATE_KEY }}
          passphrase: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_CERTIFICATE_PASSWORD }}