name: "Deploy RC to Staging"
on:
  pull_request:
    branches:
      - master

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Determine version
        id: determine_version
        run: |
          diff=$(git diff origin/master HEAD -Gversion stack.yml)
          if [ -n "$diff" ]; then
            oldV=$(echo "$diff" | { grep '^-' || true; } | tail -n1 | awk '{ print $3}')
            newV=$(echo "$diff" | { grep '^+' || true; } | tail -n1 | awk '{ print $3}')
            serviceN=$(echo "$diff" | { grep '^+.*name:' || true; } | tail -n1 | awk '{ print $4}')
            if [ -n "$serviceN" ]; then
              echo "##[set-output name=serviceName;]$serviceN"
            else
              serviceC=$(echo "$diff" | sed '/^+ /q' | grep '^ .*name:' | tail -n1 | awk '{ print $3}')
              echo "##[set-output name=serviceName;]$serviceC"
            fi
            echo "##[set-output name=tag;]$newV"
            echo "##[set-output name=hasDiff;]true"
          else
            echo "##[set-output name=hasDiff;]false"
          fi
      - name: verify version
        run: |
          echo "Has Diff? ${{ steps.determine_version.outputs.hasDiff }}"
          echo "Service to change: ${{ steps.determine_version.outputs.serviceName }}"
          echo "With tag: ${{ steps.determine_version.outputs.tag }}"
      - name: check PR info
        run: |
          echo "PR title: ${{ github.event.pull_request.title }}"
          echo "PR body: ${{ github.event.pull_request.body }}"
          echo "PR body: ${{ github.event.pull_request.payload }}"
      - uses: armory-io/spin-trigger-pipeline-action@master
        id: trigger
        if: steps.determine_version.outputs.hasDiff
        with:
          baseUrl: https://spinnaker-api.cloud.armory.io:8443/api/v1
          source: staging-cd
          serviceName: ${{ steps.determine_version.outputs.serviceName }}
          tag: ${{ steps.determine_version.outputs.tag }}
          crtFile: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_CERTIFICATE }}
          keyFile: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_PRIVATE_KEY }}
          passphrase: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_CERTIFICATE_PASSWORD }}
      - uses: armory-io/spin-wait-status-action@master
        if: steps.determine_version.outputs.hasDiff
        with:
          baseUrl: https://spinnaker-api.cloud.armory.io:8443/api/v1
          application: stagingcd
          eventId: ${{ steps.trigger.outputs.eventId }}
          crtFile: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_CERTIFICATE }}
          keyFile: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_PRIVATE_KEY }}
          passphrase: ${{ secrets.ARMORY_CLOUD_SPINNAKER_CLIENT_CERTIFICATE_PASSWORD }}