name: Run E2E Tests

on:
  pull_request:
    branches:
      - master
      - 'release-**.x'

jobs:
  check_path:
    name: run-tests-only-if-stack-changed
    runs-on: ubuntu-latest
    outputs:
      skip-test: ${{ steps.check_stack.changed }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Check If Stack File Changed
        id: check_stack
        env:
          BRANCH_NAME: ${{ github.event.pull_request.base.ref }}
        run: |
          diff=$(git diff origin/$BRANCH_NAME HEAD stack.yml)
          if [ -z "$diff" ]; then
            echo "##[set-output name=changed;]false"
          else
            echo "##[set-output name=changed;]true"
          fi

  create_ephemeral_spinnaker_and_run_tests:
    name: create-destroy ephemeral spinnaker and run tests
    runs-on: ubuntu-latest
    needs: check_path
    if: needs.check_path.outputs.skip-test == false
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Cancel checks out-of-date
        id: skip_check
        uses: fkirc/skip-duplicate-actions@v4
        with:
          cancel_others: 'true'

      - name: Wait For Other Tests To Finish
        uses: softprops/turnstyle@v1
        with:
          same-branch-only: false
        env:
          GITHUB_TOKEN: ${{ secrets.ASTROLABE_GITHUB_TOKEN }}

      - name: Give Github time to merge new changes if exist
        run: sleep 10s
        shell: bash

      - name: Get ArtifactId From Stack Services
        id: services
        run: |
          services=( $(yq e '.services | to_entries | .[] | .key + "," + .value.image.repository + ":" + .value.image.tag' stack.yml ) )
          for service in "${services[@]}"; do
              repoTag=(${service//,/ })
              echo "##[set-output name=${repoTag[0]};]${repoTag[1]}"
          done

      - name: Trigger Ephemeral Spinnaker And Tests
        uses: armory-io/spin-trigger-pipeline-action@master
        id: trigger_tests
        with:
          baseUrl: https://spinnaker-api.internal.armory.io:8443/api/v1
          source: create-ephemeral-spinnaker
          parameters: 'namespace:${{ github.event.pull_request.head.sha }},sha:${{ github.event.pull_request.head.sha }},branch_name:${{ github.event.pull_request.base.ref }},clouddriver_image:${{ steps.services.outputs.clouddriver-armory }},deck_image:${{ steps.services.outputs.deck-armory }},dinghy_image:${{ steps.services.outputs.dinghy }},echo_image:${{ steps.services.outputs.echo-armory }},fiat_image:${{ steps.services.outputs.fiat-armory }},front50_image:${{ steps.services.outputs.front50-armory }},gate_image:${{ steps.services.outputs.gate-armory }},igor_image:${{ steps.services.outputs.igor-armory }},kayenta_image:${{ steps.services.outputs.kayenta-armory }},orca_image:${{ steps.services.outputs.orca-armory }},rosco_image:${{ steps.services.outputs.rosco-armory }},terraformer_image:${{ steps.services.outputs.terraformer }}'
          crtFile: ${{ secrets.STAGING_CLIENT_CERTIFICATE }}
          keyFile: ${{ secrets.STAGING_CLIENT_PRIVATE_KEY }}

      - name: Watch Pipeline Execution For E2E Tests
        uses: armory-io/spin-wait-status-action@master
        with:
          baseUrl: https://spinnaker-api.internal.armory.io:8443/api/v1
          application: dynamo-armory-enterprise-testing
          eventId: ${{ steps.trigger_tests.outputs.eventId }}
          crtFile: ${{ secrets.STAGING_CLIENT_CERTIFICATE }}
          keyFile: ${{ secrets.STAGING_CLIENT_PRIVATE_KEY }}
          timeout: 2100000

      - name: Enable automerge in PR
        if: success()
        uses: alexwilson/enable-github-automerge-action@main
        with:
          github-token: "${{ secrets.ASTROLABE_GITHUB_TOKEN }}"

      - name: Destroy Ephemeral Spinnaker
        if: ${{ !cancelled() }}
        uses: armory-io/spin-trigger-pipeline-action@master
        with:
          baseUrl: https://spinnaker-api.internal.armory.io:8443/api/v1
          source: destroy-ephemeral-spinnaker
          parameters: 'namespace:${{ github.event.pull_request.head.sha }},branch_name:${{ github.event.pull_request.base.ref }}'
          crtFile: ${{ secrets.STAGING_CLIENT_CERTIFICATE }}
          keyFile: ${{ secrets.STAGING_CLIENT_PRIVATE_KEY }}

      - uses: kceb/pull-request-url-action@v1
        if: failure()
        id: pr-url

      - name: Send Slack Notification
        if: failure()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: eng-release-process-alerts
          SLACK_COLOR: ${{ job.status }}
          SLACK_MESSAGE: 'Error found in the e2e tests suit for PR: ${{ steps.pr-url.outputs.url }}'
          SLACK_TITLE: E2E Test Alert
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
